.App {
  text-align: center;
}

.formStyle {
  width: 300px;
  text-align: center;
  margin: auto;
  box-shadow: 1px 1px 10px lightgray;
  padding: 20px;
  margin-top: 50px;
  /* position: absolute; */
  min-height: 300px;
  background-color: aquamarine;
}

input[type="text"] {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
}

input[type="submit"] {
  width: 100%;
  background-color: lightsalmon;
  border: none;
  margin-top: 50px;
  cursor: pointer;
  padding: 10px;
}

.images {
  float: left;
  margin: 10px;
  padding: 15px;
  box-shadow: 1px 1px 10px lightgray;
  border-radius: 7px;
}

.floatClear {
  content: '';
  clear: both;
  display: table;
}