.App {
  width: 300px;
  text-align: center;
  margin: auto;
  box-shadow: 1px 1px 10px lightgray;
  padding: 20px;
  top: 90px;
  left: 40%;
  position: absolute;
  min-height: 300px;
  background-color: aquamarine;
}

input {
  width: 100%;
}

input[type=submit] {
  width: 100%;
}
